<div class="col">
  <div class="encompass">

    <article class="col">
      <section class="row actionbar-container">
        <span class="actionbar">
          <span class="actionbar-item actionbar-text">
            {{ workbook.filename.split('.')[0] }}
          </span>
          <i class="fas fa-trash-alt actionbar-item actionbar-icon"
            *ngIf="store.checkIfRowMap() && store.keyPair.getWhichKeyFileIn(workbook.filename)" (click)="store.clearRowMap()"></i>
          <i class="fas fa-times actionbar-item actionbar-icon" (click)="store.closeFile(workbook.filename)">
          </i>
        </span>
      </section>

      <section class="row search-container">
        <input class="search-field form-control" name="searchText" placeholder="Header Search" [(ngModel)]="searchText">
      </section>

      <section class="row tab-container justify-content-center">
        <div class="col-sm-12 text-center">
          <span>
            <i class="fas fa-arrow-left sheet float-left" (click)="previousSheetClicked()"
            [ngClass]="{'active': workbook.currentWorksheet['orderNo'] > 0,
            'inactive': workbook.currentWorksheet['orderNo'] === 0}"></i>
          </span>

          <span class="text-purple sheet-text" tooltip="{{ workbook.currentWorksheet.name }}" hide-delay="0">
            {{workbook.currentWorksheet.name.substring(0, 13)}}
            <span *ngIf="workbook.currentWorksheet.name.length > 13">. . .</span>
          </span>
          <span>
            <i class="fas fa-arrow-right sheet float-right" (click)="nextSheetClicked()"
            [ngClass]="{'active': workbook.currentWorksheet['orderNo'] < workbook.worksheets.length - 1,
            'inactive': workbook.currentWorksheet['orderNo'] === workbook.worksheets.length - 1}"></i>
          </span>
        </div>
      </section>
    </article>

    <article class="scroll-container">
      <div class="scrollbox">
        <div *ngFor="let header of workbook.headers">

          <!-- HEADERS -->
          <app-header-box *ngIf="header.toLowerCase().includes(searchText.toLowerCase())"
            [header]="createHeader(header, workbook.filename, workbook)"
            [keysFull]="store.keyPair.doBothKeysExist()"
            [isPrimary]="store.keyPair.getWhichKeyFileIn(workbook.filename) === 1"
            [previewOpen]=" store.columnPreviews[workbook.filename]===header"
            (selectKey)="store.keyPair.setKey(workbook.filename, header)"
            (selectDiff)="diffSelected($event)"
            (selectCopy)="copySelected($event)"
            (selectHeader)="headerSelected($event)">
          </app-header-box>

        </div>
      </div>
    </article>

  </div>
</div>
