<div class="col">
  <div id="encompass">

    <article class="col">
      <section class="row" id="actionbar-container">
        <span id="actionbar">
          <span class="actionbar-item actionbar-text">
            {{ workbook.filename.split('.')[0] }}
          </span>
          <i class="fas fa-trash-alt actionbar-item actionbar-icon"></i>
          <i class="fas fa-times actionbar-item actionbar-icon"></i>
          <span class="actionbar-text"> {{ keyPair.getKeyTypeText(workbook.filename)}}  </span>
        </span>
      </section>
      <section class="row search-container">
        <input class="search-field form-control"
          name="searchText"
          placeholder="Header Search"
          [(ngModel)]="searchText">
      </section>
    </article>

    <article class="col" *ngIf="0">
      <div class="content-box purple-border selectable row justify-content-center">
        Save
      </div>
    </article>

    <article class="col" *ngIf="0">
      <div class="content-box purple-border selectable row justify-content-center">
        <div class="col justify-content-center">
          <span class="text-underline row no-gutters justify-content-center"> H </span>
          <span class="text-purple row no-gutters justify-content-center"> H </span>
          <span class="row no-gutters justify-content-center"><i class="fas fa-arrow-down text-purple"></i></span>
          <span class="text-underline row no-gutters justify-content-center"> H </span>
          <span class="text-purple row no-gutters justify-content-center"> H </span>
        </div>
      </div>
    </article>

    <article class="scroll-container">
      <div class="scrollbox">
        <div *ngFor="let header of workbook.headers">

          <!-- HEADERS -->
          <app-header-box
            [header]="header"
            [keysFull]="false"
            [isPrimary]="true"
            [rowMap]="undefined"
            [diffMap]="undefined"
            [previewOpen]="false">
          </app-header-box>

        </div>
      </div>
    </article>

  </div>
</div>
