<!-- Page Content  -->
<div class="container-fluid">
  <div *ngIf="currentWorkbook.getWorksheet(1) && headerToCell">
    <div>
      <input class="search-field form-control" [(ngModel)]="searchText"
      name="searchText" placeholder="Header Search" [ngClass]="{'active': header===activeTextfield}" (click)="headerSearchbarClicked()">
    </div>
    <div *ngFor="let header of wsHeaders">
      <div class="content-box" [ngClass]="{'active': header===activeTextfield}" *ngIf="header.toLowerCase().includes(searchText.toLowerCase())">
        <div class="row col-sm-12">
          <span>
            <span (click)="setActiveText(header)" class="cb-title noselect">{{ header }}</span>
            <i class="fas fa-check-circle check-circle-dark" *ngIf="selectedTitles.includes(header)" (click)="selectTitleClicked(header)"></i>
            <i class="far fa-check-circle check-circle-light" *ngIf="!selectedTitles.includes(header)" (click)="selectTitleClicked(header)"></i>
          </span>
        </div>
        <div class="row col-sm-12" *ngIf="header===activeTextfield">
          <input class="search-field form-control" [(ngModel)]="activeText"
          name="activeText" placeholder="Search away!" [ngClass]="{'active': header===activeTextfield}">
        </div>
        <div *ngIf="header===activeTextfield">
          <div *ngFor="let cell of headerToCell[header]">
            <div *ngIf="cell.toLowerCase().includes(activeText.toLowerCase())" class="field-cell">
              {{ cell }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
