<!-- Page Content  -->
<div class="container-fluid">
  <div *ngIf="currentWorkbook.getWorksheet(1)">
    <div *ngFor="let header of wsHeaders" (click)="setActiveText(header)">
    <div class="content-box" [ngClass]="{'active': header===activeTextfield}">
      <div class="row col-sm-12">
        {{ header }}
      </div>
      <div class="row col-sm-12" *ngIf="header===activeTextfield">
        <input class="search-field form-control" [(ngModel)]="activeText"
        name="activeText" placeholder="Search away!" [ngClass]="{'active': header===activeTextfield}">
      </div>
    </div>
  </div>
</div>
