.container {
  height: 100%;
  align-items: center;
  justify-content: center;

  .title {
    color: black;
    margin:0;
    padding:50px 20px;
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
