
<!-- Sidebar  -->
<nav id="sidebar"  [ngClass]="{'active': navbarActive}">
    <div class="sidebar-header">
      <i class="fas fa-arrow-left" id="left-arrow" (click)="toggleNavbarClicked()"></i>
        <span>
          <h3>ExCelery</h3>
          <i class="fas fa-arrow-right" id="right-arrow" (click)="toggleNavbarClicked()"></i>
        </span>

        <strong>EC</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#modeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-vector-square"></i>
                Mode
            </a>
            <ul class="collapse list-unstyled" id="modeSubmenu">
                <li>
                    <a [routerLink]="['/']">Excel</a>
                </li>
                <li>
                    <a href="#">PureCSV</a>
                </li>
                <li>
                  <a [routerLink]="['/copymode']">Copy Mode</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#modeOpen" data-toggle="collapse" class="dropdown-toggle">
                <i class="far fa-folder-open"></i>
                Open Files
            </a>
            <ul class="collapse list-unstyled" id="modeOpen">
              <li *ngFor="let wb of openWorkbooks">
                <div>
                  <a href="#">
                    <i class="fas fa-times close-button" (click)="closeTab(wb)"></i>
                    <span class="file-select" (click)="openTab(wb)">{{ wb }}</span>
                  </a>
                </div>
              </li>
            </ul>
            <a href="#wbSubmenu" data-toggle="collapse" aria-expanded="false" (click)="excelButtonClicked()" class="dropdown-toggle">
                <i class="far fa-file-excel"></i>
                Workbooks
            </a>
            <div>
              <ul class="collapse list-unstyled" id="wbSubmenu">
                  <li *ngFor="let wb of workbooks">
                    <div [ngClass]="{'file-opened': openWorkbooks.includes(wb)}">
                      <a href="#">
                        <span class="file-select" (click)="openWorkbook(wb)">
                          {{ wb }} <i class="far fa-folder-open" *ngIf="openWorkbooks.includes(wb)"></i>
                        </span>
                      </a>
                    </div>
                  </li>
              </ul>
            </div>
        </li>
    </ul>
</nav>
