
<!-- Sidebar  -->
<nav id="sidebar"  [ngClass]="{'active': navbarActive}">
    <div class="sidebar-header">
      <i class="fas fa-arrow-left" id="left-arrow" (click)="toggleNavbarClicked()"></i>
        <span>
          <h3>ExCelery</h3>
          <i class="fas fa-arrow-right" id="right-arrow" (click)="toggleNavbarClicked()"></i>
        </span>

        <strong>EC</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#modeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-vector-square"></i>
                Mode
            </a>
            <ul class="collapse list-unstyled" id="modeSubmenu">
                <li>
                    <a href="#">Excel</a>
                </li>
                <li>
                    <a href="#">PureCSV</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-briefcase"></i>
                About
            </a>
            <a href="#wbSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="far fa-file-excel"></i>
                Workbooks
            </a>
            <ul class="collapse list-unstyled" id="wbSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
