<article class="col">
  <div class="content-box white-border row">

    <span class="col-sm-12">
      <span class="header selectable" (click)="onHeaderClick()">
        {{ header.name }}
      </span>

      <i class="far fa-check-circle icon unselected" (click)="switchCopyMode()" *ngIf="!header.copyMode"
        [ngClass]="{'disabled': !keysFull}"></i>
      <i class="fas fa-check-circle icon selected" (click)="switchCopyMode()" *ngIf="header.copyMode"></i>

      <i class="fas fa-not-equal icon" (click)="switchDiffMode()"
        [ngClass]="{'selected': header.diffMode, 'unselected': !header.diffMode, 'disabled': !keysFull}">
      </i>

      <i class="fas fa-key icon key-icon float-right" style="margin-top: 4px; margin-right: 0;" (click)="switchKey()"
        [ngClass]="{'selected': header.isKey,
          'unselected': !header.isKey,
          'grey': !header.isKey,
          'hover-appear': !header.isKey}" *ngIf="!keysFull || header.isKey"></i>
    </span>

    <section *ngIf="previewOpen" class="preview-container col-sm-12">
      <div class="preview-scroller-container">
        <div class="preview-cell-container">
          <section *ngFor="let cell of header.cells" class="content-box white-border" tooltip="{{ tooltipText(cell) }}"
           trigger="click" hide-delay="1100" style="cursor: pointer;">

            <span>
              <span *ngIf="isPrimary && store.rowMap[header.name]">
                <span class="col-preview-row-text" *ngIf="store.rowMap[header.name].hasOwnProperty(cell.row)">
                  {{ store.rowMap[header.name][cell.row]['mappedRow'] }}
                </span>
                <span *ngIf="store.rowMap[header.name].hasOwnProperty(cell.row)"
                  [ngClass]="{'col-preview-red-text': store.rowMap[header.name][cell.row]['newValue']!==store.rowMap[header.name][cell.row]['oldValue']}">
                  {{ store.rowMap[header.name][cell.row]['newValue'] }}
                  <i class="fas fa-arrow-right col-preview-icon"></i>
                </span>
              </span>
              <span *ngIf="isPrimary && store.diffMap[header.name]">
                <span class="col-preview-row-text" *ngIf="store.diffMap[header.name].hasOwnProperty(cell.row)">
                  {{ store.diffMap[header.name][cell.row]['mappedRow'] }}
                </span>
                <span *ngIf="store.diffMap[header.name].hasOwnProperty(cell.row)"
                  [ngClass]="{'col-preview-red-text': store.diffMap[header.name][cell.row]['newValue']!==store.diffMap[header.name][cell.row]['oldValue']}">
                  {{ store.diffMap[header.name][cell.row]['newValue'] }}
                  <i class="fas fa-arrow-right col-preview-icon"></i>
                </span>
              </span>
              <span class="col-preview-row-text">
                {{ cell.row }}
              </span> {{ cell.value }}
            </span>

          </section>
        </div>
      </div>
    </section>

  </div>
</article>
