<article class="col">
  <div class="content-box white-border row">
    <span>
      <span class="cb-title noselect selectable">
        {{ header.name }}
      </span>

      <i class="fas fa-check-circle"></i>
      <i class="far fa-check-circle"></i>

      <i class="fas fa-not-equal"></i>
      <i class="fas fa-not-equal"></i>

      <i class="fas fa-key header-icon"></i>
    </span>
    <!--
    <section class="preview-container col-sm-12">
      <div class="preview-scroller-container">
        <div class="preview-cell-container">
          <section *ngFor="let cell of workbook.getCellsFromHeader(header)" class="content-box white-border">

            <span>
               After Copying
              <span *ngIf="keyPairs['copy'].primaryFile == workbook.filename && rowMap.hasOwnProperty(header)">
                <span class="col-preview-row-text" *ngIf="rowMap[header].hasOwnProperty(cell.row)">
                  {{ rowMap[header][cell.row]['mappedRow'] }}
                </span>
                <span *ngIf="rowMap[header].hasOwnProperty(cell.row)"
                  [ngClass]="{'col-preview-red-text': rowMap[header][cell.row]['newValue']!==rowMap[header][cell.row]['oldValue']}">
                  {{ rowMap[header][cell.row]['newValue'] }}
                  <i class="fas fa-arrow-right col-preview-icon"></i>
                </span>
              </span>
               Diff Check
              <span *ngIf="keyPairs['copy'].primaryFile === workbook.filename && diffMap.hasOwnProperty(header) && diffOpen">
                <span class="col-preview-row-text" *ngIf="diffMap[header].hasOwnProperty(cell.row)">
                  {{ diffMap[header][cell.row]['mappedRow'] }}
                </span>
                <span *ngIf="diffMap[header].hasOwnProperty(cell.row)"
                  [ngClass]="{'col-preview-red-text': diffMap[header][cell.row]['newValue']!==diffMap[header][cell.row]['oldValue']}">
                  {{ diffMap[header][cell.row]['newValue'] }}
                  <i class="fas fa-arrow-right col-preview-icon"></i>
                </span>
              </span>
              <span class="col-preview-row-text">
                {{ cell.row }}
              </span> {{ cell.value }}
            </span>

          </section>
        </div>
      </div>
    </section> -->
  </div>
</article>
