<!-- Page Content  -->
<div class="container-fluid">
  <!-- Lorem ipsum is here to fill up the screen width for now...
    I wish I was better at this -->
  <div id="filler-lorem" class="noselect">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div *ngIf="!openWorkbooks.length">
    <h4 class="empty-text">No workbooks open currently. One can be opened from the sidebar.</h4>
  </div>

  <div class="row" *ngIf="openWorkbooks.length">
    <div class="row col-sm-5" *ngFor="let workbook of openWorkbooks">
      <div class="col">
        <div id="encompass">
          <!-- Action Bar -->
          <div class="col">
            <div class="row" id="actionbar-container">
              <span id="actionbar">
                <span class="actionbar-item actionbar-text" [ngClass]="{'inactive': header===activeTextfield}">
                  {{ workbook.filename.split('.')[0] }}
                </span>
                <i class="fas fa-times actionbar-item actionbar-icon" (click)="closeFile(workbook.filename)"></i>
                <span class="actionbar-text"> {{ getKeyText(workbook.filename) }}</span>
              </span>
            </div>
            <div class="row search-container">
              <input class="search-field form-control" [(ngModel)]="searchText"
              name="searchText" placeholder="Header Search" [ngClass]="{'active': header===activeTextfield}" (click)="headerSearchbarClicked()">
            </div>
          </div>

          <!-- Content -->
          <div class="col">
            <div class="content-box-purple selectable row justify-content-center"
            *ngIf="editCount >= 1 && primaryKey.split(':')[0] == workbook.filename" (click)="saveFile()">
              Save
            </div>
          </div>
          <div class="col">
            <div class="content-box-purple selectable row justify-content-center"
            *ngIf="selectedHeader.length && mappedHeader.length && getKeyFile(workbook.filename) == 1" (click)="copyColumns()">
              Copy {{ secondaryKey.split(":")[0] }} column {{ mappedHeader.split(":")[1] }} to
              {{ primaryKey.split(":")[0] }} column {{ selectedHeader.split(":")[1] }}?
            </div>
          </div>

          <div *ngFor="let header of wbToHeaders[workbook.filename]">
            <div class="col">
              <div class="content-box row" *ngIf="header.toLowerCase().includes(searchText.toLowerCase())" (contextmenu)="onRightClick($event, header); false">
                <span class="">
                  <span (click)="setActiveText(header)" class="cb-title noselect selectable">{{ header }}</span>
                  <i class="fas fa-check-circle header-icon hi-selected"
                  *ngIf="isSelected(workbook.filename, header)" (click)="checkMarkClicked(workbook.filename, header)"></i>
                  <i class="far fa-check-circle header-icon hi-unselected"
                  *ngIf="!isSelected(workbook.filename, header)" (click)="checkMarkClicked(workbook.filename, header)"></i>

                  <i class="fas fa-key header-icon"
                  [ngClass]="{'hi-unselected': !getIfKey(workbook.filename, header) && !getIfKeyHasFilename(workbook.filename),
                  'hi-selected': getIfKey(workbook.filename, header),
                  'no-show': getIfKeyHasFilename(workbook.filename) && !getIfKey(workbook.filename, header),
                  'hidden-hicon': !getIfKeyHasFilename(workbook.filename)}"
                  (click)="setKey(workbook.filename, header)">
                  </i>
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
