<!-- Page Content  -->
<main class="container-fluid">
  <!-- Lorem ipsum is here to fill up the screen width for now...
    I wish I was better at this -->
  <section style="font-size: 8px; color: #fff;" class="noselect">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </section>

  <section *ngIf="!currentWorkbooks.length">
    <h4 style="color: #333;margin-top: 2em;margin-left: 2em;">No workbooks open currently. One can be opened from the sidebar.</h4>
  </section>

  <section class="row" *ngIf="currentWorkbooks.length">


    <div class="row col-xl-5 col-sm-6" *ngFor="let workbook of currentWorkbooks">
      <div class="col">
        <div id="encompass">
          <!-- Action Bar -->
          <article class="col">
            <div class="row" id="actionbar-container">
              <span id="actionbar">
                <span class="actionbar-item actionbar-text">
                  {{ workbook.filename.split('.')[0] }}
                </span>
                <i class="fas fa-trash-alt actionbar-item actionbar-icon"
                  *ngIf="checkIfRowMap() && store.keyPair.getWhichKeyFileIn(workbook.filename)" (click)="clearRowMap()">
                </i>
                <i class="fas fa-times actionbar-item actionbar-icon" (click)="closeFile(workbook.filename)"></i>
                <span class="actionbar-text"> {{ store.keyPair.getKeyTypeText(workbook.filename) }}</span>
              </span>
            </div>
            <div class="row search-container">
              <input class="search-field form-control" [(ngModel)]="searchText"
              name="searchText" placeholder="Header Search" (click)="headerSearchbarClicked()">
            </div>
          </article>

          <!-- Content -->
          <article class="col">
            <div class="content-box purple-border selectable row justify-content-center"
            *ngIf="editCount >= 1 && store.keyPair.primaryFile == workbook.filename" (click)="saveFile(workbook)">
              Save
            </div>
          </article>
          <article class="col">
            <div class="content-box purple-border selectable row justify-content-center"
            *ngIf="store.copyToHeader.length && store.copyFromHeader.length && store.keyPair.getWhichKeyFileIn(workbook.filename) == 1"
            (click)="copyColumns()">
              <div class="col justify-content-center">
                <span class="text-underline row no-gutters justify-content-center">{{ store.keyPair.secondaryFile }}</span>
                <span class="text-purple row no-gutters justify-content-center">{{ store.copyFromHeader.split(":")[1] }}</span>
                <span class="row no-gutters justify-content-center"><i class="fas fa-arrow-down text-purple"></i></span>
                <span class="text-underline row no-gutters justify-content-center">{{ store.keyPair.primaryFile }}</span>
                <span class="text-purple row no-gutters justify-content-center">{{ store.copyToHeader.split(":")[1] }}?</span>
              </div>
            </div>
          </article>

          <article class="scroll-container">
            <div class="scrollbox">
              <div *ngFor="let header of workbook.headers">

                <!-- HEADERS -->
                <app-header-box
                  [header]="createHeader(header, workbook.filename, workbook)"
                  [keysFull]="store.keyPair.doBothKeysExist()"
                  [isPrimary]="store.keyPair.getWhichKeyFileIn(workbook.filename) === 1"
                  [rowMap]="rowMap.hasOwnProperty(header) ? rowMap[header] : undefined"
                  [diffMap]="store.diffMap.hasOwnProperty(header) ? store.diffMap[header] : undefined"
                  [previewOpen]=" columnPreviews[workbook.filename]===header"
                  (selectKey)="store.keyPair.setKey(workbook.filename, header)"
                  (selectDiff)="diffButtonClicked(workbook.filename, header)"
                  (selectCopy)="checkMarkClicked(workbook.filename, header)"
                  (selectHeader)="headerClicked(workbook.filename, header)">
                </app-header-box>

              </div>
            </div>
          </article>

        </div>
      </div>
    </div>

  </section>

</main>
