@import 'colors.scss';

/* Classes */
.loading-anim {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -10px;;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s;
}

.hardware-accelerated {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.loading-anim-unseen {
  opacity: 0;
}

.link {
  cursor: pointer;
  transition: all 0.5s;
  border-bottom: 2px solid #ddd;
}

.link:hover {
  border-color: $sidebar-color2;
}

.text-purple {
  color: $sidebar-color2-em;
}

.text-underline {
  text-decoration: underline;
}

.container-fluid {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

.actionbar-item {
  cursor: pointer;
  margin-right: 0.6em;
}

.actionbar-text {
  color: #000;
}

.actionbar-icon {
  color: $sidebar-color2-em;
}

.search-field {
  background-color: #fafafa;
  transition: all 0.4s;
  border-width: 0;
  border-bottom: 2px solid #ddd !important;
  border-radius: 0;
  border-color: $sidebar-color;
  box-shadow: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  line-height: 6px;
  margin-bottom: 5px;
}

.search-container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.search-field:focus {
  border-color: $sidebar-color2 !important;
}

.scroll-container {
  padding-right: 10px;
}

.scrollbox {
  overflow: scroll;
  overflow-x: hidden;
  height: 85vh;
  margin-bottom: 6px;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $scroll-track;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollbar;
  border-radius: 10px;
}

.content-box {
  margin: 0.4em 0.1em 0.4em 0.1em;
  padding: 0.3em;
}

.content-box .confirm-box {
  background-color: $sidebar-color2;
  border-color: $sidebar-color2;
}

.no-show {
  transition: all 0.0s;
  color: #fff;
  pointer-events: none;
}
