@import 'colors.scss';

input {
  caret-color: $sidebar-color2-em;
}

/* Classes */

.container-fluid {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

.actionbar-item{
  cursor: pointer;
  margin-right: 0.6em;
}

.actionbar-text{
  color: #000;
}

.actionbar-icon{
  color: $sidebar-color2-em;
}

.search-field{
  background-color: #fafafa;
  transition: all 0.4s;
  border-width: 0;
  border-bottom: 2px solid #ddd !important;
  border-radius: 0;
  border-color: $sidebar-color;
  box-shadow: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  line-height: 6px;
  margin-bottom: 5px;
}

.search-container{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.search-field:focus{
  border-color: $sidebar-color2 !important;
}

.header-icon{
  transition: all 0.3s;
  margin-right: 0.5em;
  cursor: pointer;
}

.content-box{
  transition: all 0.9s;
  margin: 0.4em 0.1em 0.4em 0.1em;
  padding: 0.3em;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.content-box:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.white-border{
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}

.purple-border{
  border-width: 1px;
  border-style: solid;
  border-color: $sidebar-color2;
}

.content-box .confirm-box{
  background-color: $sidebar-color2;
  border-color: $sidebar-color2;
}

.content-box:hover .hidden-hicon{
  opacity: 1;
}

.no-show{
  transition: all 0.0s;
  color: #fff;
  pointer-events: none;
}

.content-box.active{
  border-color: $sidebar-color2;
}

.cb-title{
  transition: all 0.3s;
  margin-right: 0.5em;
}

.cb-title:hover{
  color: $sidebar-color2-em;
}

.hidden-hicon{
  opacity: 0;
}

.hi-unselected:hover{
  color: $sidebar-color2-em;
}

.hi-selected{
  transition: all 1s;
  color: $sidebar-color2-em;
}

/* IDs */
#encompass{
  background-color: #fafafa;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: $sidebar-color2;
  box-sizing: content-box;
  margin-bottom: 10px;
}

#searchfield-no-padding{
  padding-right: 0;
  padding-left: 0;
}

#actionbar{
  margin: 0.4em 0.1em 0.4em 0.1em;
  padding: 0.1em 0.5em;
}

#actionbar-container{
  border-bottom: 1px solid $sidebar-color2;
}

#actionbar .inactive{
  color: #666;
  cursor: default;
}
