<!-- Page Content  -->
<main class="container-fluid">
  <!-- Lorem ipsum is here to fill up the screen width for now...
    I wish I was better at this -->
  <section style="font-size: 8px; color: #fff;" class="noselect">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </section>

  <section *ngIf="!store.currentWorkbooks.length">
    <h4 style="color: #333;margin-top: 2em;margin-left: 2em;">No workbooks open currently. One can be opened from the sidebar.</h4>
    <h4 style="color: #333; margin-top: 2em;margin-left: 2em;">
      For new releases, click <span class="link" (click)="electron.openInBrowser('https://github.com/MusicDev33/ExCelery/releases')">here</span>
    </h4>
  </section>

  <section class="row" *ngIf="store.currentWorkbooks.length">
    <div *ngFor="let workbook of store.currentWorkbooks" class="row col-4">
      <app-workbook-view class="col-12"
        [workbook]="workbook"
        (close)="closeFile($event)"
        (save)="saveFile($event)"
        (copy)="store.copyColumns()"
        (selectDiff)="diffButtonClicked(workbook.filename, $event)"
        (selectCopy)="checkMarkClicked(workbook.filename, $event)"
        (selectHeader)="headerClicked(workbook.filename, $event)">
      </app-workbook-view>
    </div>
    <div class="col-2 padding-0 d-md-none d-lg-block">
      <app-controlpanel>
      </app-controlpanel>
    </div>
  </section>
</main>
