/* Theme Colors */
$sidebar-color: #1ee89b;
$sidebar-color-light: #00ff9d;
$sidebar-color-em: #1cd991;

$sidebar-color2: #e88aff;
$sidebar-color2-em: #cc6be3;
$sidebar-color2-dark: #a74bbd;
$sidebar-highlight-text-color: #333;
$sidebar-text-color: #333;
