<div class="col">
  <div class="encompass">
    <article class="col">
      <section class="row actionbar-container justify-content-center">
        <span class="actionbar">
          <span class="actionbar-item actionbar-text">
            Control Panel
          </span>
        </span>
      </section>
    </article>
    <article class="col">
      <div class="content-box purple-border selectable row justify-content-center"
      *ngIf="store.editCount >= 1 && store.keyPair.primaryFile === workbook.filename" (click)="saveClicked()">
        Save
      </div>
    </article>
    <div style="height: 10vh;"></div>
  </div>
</div>
