<div class="col">
  <div class="encompass">

    <article class="col">
      <section class="row actionbar-container justify-content-center">
        <span class="actionbar">
          <span class="actionbar-item actionbar-text">
            Control Panel
          </span>
        </span>
      </section>
    </article>

    <article class="col">
      <div class="content-box purple-border selectable row justify-content-center" (click)="copyClicked()"
        [ngClass]="{'inactive-text': !store.copyToHeader.length || !store.copyFromHeader.length}">
        Copy
      </div>
    </article>

    <article class="col no-events">
      <div class="content-box-no-shadow grey purple-border selectable row justify-content-center">
        <div class="col justify-content-center">
          <span class="text-purple row no-gutters justify-content-center"> {{ secondaryFileReturn() }} </span>
          <span class="row no-gutters justify-content-center"> {{ copyFromHeaderReturn() }} </span>
          <span class="row no-gutters justify-content-center"><i class="fas fa-arrow-down text-green"></i></span>
          <span class="text-purple row no-gutters justify-content-center"> {{ primaryFileReturn() }} </span>
          <span class="row no-gutters justify-content-center"> {{ copyToHeaderReturn() }} </span>
        </div>
      </div>
    </article>

    <article class="col">
      <div class="content-box purple-border selectable row justify-content-center"
      (click)="saveClicked()"
      [ngClass]="{'inactive-text': store.editCount < 1}">
        Save
      </div>
    </article>

    <div style="height: 1vh;"></div>

  </div>
</div>
