@import 'colors.scss';

.encompass {
  background-color: #fafafa;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: $sidebar-color2;
  box-sizing: content-box;
  margin-bottom: 10px;
}

.actionbar-item {
  cursor: pointer;
  margin-right: 0.6em;
}

.actionbar-text {
  color: #000;
}

.actionbar-icon {
  color: $sidebar-color2-em;
}

.actionbar {
  margin: 0.4em 0.1em 0.4em 0.1em;
  padding: 0.1em 0.5em;
}

.actionbar-container {
  border-bottom: 1px solid $sidebar-color2;
}

.content-box {
  margin: 0.4em 0.1em 0.4em 0.1em;
  padding: 0.3em;
}

.text-purple {
  color: $sidebar-color2-em
}

.text-purple.underlined {
  border-bottom: 2px solid $sidebar-color2-em;
}

.text-green {
  color: $sidebar-color-em;
}
